html {
    background-image: linear-gradient(to bottom, black, #221b2d);
    background-size: cover;
    color: #ffeeee;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    height: 100%;
    min-height: 100vh;
}

body {
    margin: 0;
}

.layout {
    display:flex;
    flex-direction: row;
}

h1 {
    font-weight: 400;
}

a {
    color: #ffeeee;
}

.categories > a {
    text-decoration: none;
}

.categories {
    font-weight: 400;
    font-size: 1em;
    margin-top: 0.5em;
}

.categories p, .socials {
    text-align: center;
    padding: 5px;
    margin: 0.5em 0 0  0;
}

.navigation {
    margin: 1em;
    height: 25vh;
}

.logo {
    height: 70%;
}

.logo img {
    height: 100%;
}

.nav-blob {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-size: 2em;
    height: 100%;
}

.role {
    font-size: 0.5em;
}

.socials {
    height: 20%;
    padding: 5px;
}

.socials a {
    padding: 5px;
    height: 100%;
}


.socials > a > img {
    height: 100%;
}

.icons {
    height: 40px;
    margin: 5px;
}

.icons > img {
    padding-right: 5px;
    height: 100%;
}

.nav-blob > p {
    margin-left: 3%;
    margin-right: 3%;
}

.nav-blob > h1 {
    margin: 10px 0 10px 0;
}

.container-parent {
    display:flex;
    flex-direction: column;
    width:70%;
}

.container-parent > .container {
    width: calc(100% - 10px);
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, calc(50%));
    width: calc(50%);
    gap: 0px;
    height: 0%; /*to stop the nav bar from pulling apart the grid tiles >_> */
    padding-left: 25%;
    padding-right: 25%;
}

.blob-feature-left {
    grid-area: 1/1/3/3;
}
.blob-feature-right {
    grid-area: 1/3/3/5;
}

.blob {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    font-size: 2em;
    aspect-ratio: 5/3;
    transition: 0.3s;
    float: left;
    border: 2px solid black;
}

.filler-blob {
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    clip-path: inset(0px);
    border: 5px solid #050509;
}

.double-filler-blob {
    width:200%;
}

.triple-filler-blob {
    width:300%;
}

.blob-overlay {
    width: 100%;
	position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.blob-overlay > .title-tag {
    background-image: linear-gradient(to right, rgba(0,0,0,0) -10%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0) 110%);
    text-align: center;
    overflow: visible;
}

.blob-overlay > .title-tag > p {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5%;
    margin-right: 5%;
}

.blob:hover {
    background-color: #221b2d;
    transition: 0.3s;
    transform: scale(1.1);
    z-index: 9999;
    border: 2px solid white;
}

.blob:hover > .blob-overlay {
    background-color: rgba(0,0,0, 0.7);
}

.blob > .blob-overlay {
    background-color: rgba(0,0,0,0);
    transition: background-color 1s;
}

.blob > img {
    height: 100%;
    width: auto;
}

.blob > video {
    height: 100%;
    width: auto;
}

/* playdate coloring */
.blob > .pd
{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(148, 138, 120, 0.34);
}

.project {
    margin-right: 10px;
    width: 50%;
}

.project-content > iframe {
    aspect-ratio: 16/9;
}

.project-content > .steam-embed {
    background-color: transparent;
}

.project-columns {
    display:flex;
    flex-direction: row;
    margin: 1em;
}

.project-columns > div {
    padding-left: 1em;
    padding-right: 1em;
    margin: 0
}

.press {
    padding: 1em;
    text-align:center;
}

/* mobile formatting */
@media only screen and (max-width: 1024px) {
    .layout {
        display:flex;
        flex-direction: column;
    }

    .project {
        width: 100%;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .container-parent {
        width: 100%;
    }

    .navigation {
        min-height: 200px;
        height: 25vh;
        width: 100vw;
    }

    .blob-feature-left {
        grid-area: auto;
    }
    .blob-feature-right {
        grid-area: auto;
    }
    .nav-blob > h1 {
        font-size: 3em;
    }
    .role {
        font-size: 1.5em;
    }

    .blob {
        font-size: 3em;
    }

    .categories {
        font-size: 2em;
    }

    .project:not(.container) {
        font-size: 2em;
        margin: 10px;
    }

    .container-parent > p {
        margin: 10px;
        font-size: 2em;
    }

    .socials {
        height: 1em;
    }

    .socials a {
        padding-right: 1em;
        padding-left: 1em;
    }
}
@media only screen and (max-width: 600px) {

    .container {
        grid-template-columns: 1fr;
    }
}